body {

  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #2f2f2f; 
  margin:0;
}

#root {
  text-align: center; 
}

.form-group--abs {
  position: relative;
  margin: 30px 0; 
}

.form-group--abs label {
  position: absolute;
  top: 20px;
  left: 0px;
  pointer-events: none;
  transition: top .5s ease;
  transition: font .3s ease;
  color: #171717;
  font-size: 18px;
  padding: 6px 0; 
}

.form-group--abs input:focus + label, .form-group--abs input:valid + label {
  top: -20px;
  font-size: 15px; 
}

.form-size {
  display: block;
  margin: 0 auto;
  max-width: 400px; 
}

.rel {
  position: relative; 
}

.btn-style-prim {
  color: white !important;
  border-radius: 10px;
  background-color: #e72b2f;
  border-color: #e72b2f;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px; 
  border-style: none;
}
.btn-style-prim:hover, .btn-style-prim:active, .btn-style-prim:visited, .btn-style-prim:focus {
  text-decoration: none;
  box-shadow: none !important; 
  outline:0;
}

.btn-style-sec {
  color: white !important;
  border-radius: 10px;
  background-color: #c2c2c2;
  border-color: #c2c2c2;
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
  padding: 10px 20px; 
  border-style: none;
}
.btn-style-sec:hover, .btn-style-sec:active, .btn-style-sec:visited, .btn-style-sec:focus {
  border-color: #c2c2c2 !important;
  text-decoration: none;
  box-shadow: none !important; 
  outline:0;
}

.form-group--abs input {
  display: block;
  width: 90%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #e72b2f 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #e72b2f 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  color: black;
  font-size: 22px;
  height: 35px; 
}

.form-group--abs input:focus, .form-group--abs input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  background-size: 400px 100%; 
}

.red {
  color: #e72b2f;
  font-size: 60px;
  font-weight: 500; 
}

.input-add {
  display: none; 
}


.option-label{
  top:0 !important;
}

.mui-select > select {
  display: block;
  height: 32px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 0px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-family: inherit;
  padding: 0 25px 0 0;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 93%, #e72b2f 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
}


.mui-select > select:visited, .mui-select > select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  background-size: 100% 100%;
  border-bottom: 0px solid rgba(0, 0, 0, 0.26);
}


#option{
  width:75%;
  float: right;
}

.option-label{
  top:0 !important;
}

@media (max-width:450px){
  #option{
    float:none;
    width:100%;
  }
  .option-label{
    position:relative !important;
    display: block;
    top: auto;
    float:left;
  }

  .form-group--abs input{
    width:100%;
  }
  .btn-style-prim, .btn-style-sec{
    margin:5px;
  }
}

.form-group-mb{
  margin-bottom:100px;
}

section{
  position:relative;
}

.block{
  background-color: white;
  width:400px;
  padding:50px;
  position:absolute;
  top:5%;
  left:50%;
  transform:translate(-50%);
  border-radius: 20px;
  border:4px solid  #c2c2c2;
}

.logo{
  float:right;
  padding:20px;
  top: 20px;
  padding: 10px 40px;
  font-size: 50px !important;
  font-weight: 500;
  font-family: 'Chango', cursive;
  position: relative;
}
.logo .grey{
  color:#c2c2c2;
  font-weight: 300 !important;
}

.logo .red{
  font-size: 50px !important;
  font-weight: 300 !important;
}
